<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>로그인</title></head>
<body>
  <div th:replace="fragments/header :: header"></div>
  <form th:action="@{/login}" th:object="${userRequest}" method="post"
        id="login-form" class="form-login">
    <label for="login-email">이메일</label>
    <input type="email" th:field="*{email}"
           id="login-email" class="input-email"
           placeholder="이메일" required/>
    <label for="login-password">비밀번호</label>
    <input type="password" th:field="*{password}"
           id="login-password" class="input-password"
           placeholder="비밀번호" required/>
    <button type="submit" id="login-submit" class="button-submit">로그인</button>
  </form>
  <div th:replace="fragments/footer :: footer"></div>
</body>
</html>
